.fontFamily {
    font-family: "Tajawal", sans-serif;
}

.containerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleShoppingBag {
    font-size: 1rem;
    font-family: "Tajawal", sans-serif;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
}

.containerIcons {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    margin: 0 0 1.5rem 0;
}

.lineIcon {
    font-size: 3rem;
    font-weight: 400;
    margin: -2rem 0 0 0;
    color: #fb9aa7;
}

.facebookIcon,
.whatsappIcon,
.emailIcon {
    font-size: 1.5rem;
}

.telegramIcon,
.copyIcon {
    font-size: 1.3rem;
}

.containerFacebook,
.containerWhatsaap,
.containerEmail,
.containerTelegram,
.containerCopyIcon {
    color: #fafafa;
    background-color: #28589c;
    padding: 0.5rem;
    border: 1px solid #28589c;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.containerFacebook:hover,
.containerWhatsaap:hover,
.containerEmail:hover,
.containerTelegram:hover,
.containerCopyIcon:hover {
    background-color: #fafafa;
    color: #28589c;
    transition: all 0.3s ease-out;
}

.containerWhatsaap {
    background-color: #25d366;
    border: 1px solid #25d366;
}

.containerWhatsaap:hover {
    color: #25d366;
}

.containerEmail {
    color: #EA4335;
    background-color: #eeeded;
    border: 1px solid #fafafa;
}

.containerEmail:hover {
    color: #EA4335;
}

.containerTelegram {
    background-color: #2AABEE;
    border: 1px solid #2AABEE;
}

.containerTelegram:hover {
    color: #2AABEE;
}

.containerCopyIcon {
    background-color: #eeeded;
    border: 1px solid #eeeded;
    color: #fb9aa7;
    cursor: pointer;

}

.containerCopyIcon:hover {
    color: #fb9aa7;
}