.containerSearchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0 0 0;
  font-family: bodoni, ltc-bodoni-175, serif;
}

.SearchInput {
  text-align: center;
  border: none;
  border-bottom: 2px solid #fb9aa7;
  padding: 0.2rem 0.3rem;
  font-size: 1.2rem;
}

.SearchInput:focus {
  outline: none;
  background-color: #fafafa;
}
