.main {
    margin: 8rem 0 0 0;
    font-family: "Tajawal", sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.containerShippingBox {
    background-color: #fafafa;
    padding: 2rem 6rem;
    height: 50%;
}

.firstAndLastNameInput,
.cityAndBuildingInput {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0 0 0;
}

.confirmOrderBtn {
    padding: 0.4rem 3rem;
    margin: 1.5rem 0 0 0;
    background-color: #333;
    color: #fafafa;
    border: 1px solid #333;
    transition: all 0.3s ease-in;
    font-weight: 600;
}

.loginBtn, .registerBtn {
    padding: 0.3rem 1.5rem;
    margin: 1rem 0 0 0.5rem;
    background-color: #333;
    color: #fafafa;
    border: 1px solid #333;
    transition: all 0.3s ease-in;
    font-weight: 500;
}

.registerBtn {
    background-color: #fafafa;
    color: #333;
}

.loginBtn:hover {
    background-color: #fafafa;
    color: #333;
    transition: all 0.3s ease-out;
}

.registerBtn:hover {
    background-color: #333;
    color: #fafafa;
    transition: all 0.3s ease-out;
}

.textArea {
    width: 100%;
    margin: 1.5rem 0 0 0;
    background-color: #fafafa;
    resize: none;
    padding: 1rem 0 0 1rem;
    font-family: 'Tajawal', sans-serif;
    border: 1px solid #b8b8b8;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border-radius: 4px;
}

.textArea:focus {
    outline: 1px solid #333;
}

.textArea:hover {
    border: 1px solid #333;
}

.confirmOrderBtn:hover,
.discountBtn:hover {
    background: none;
    color: #333;
    transition: all 0.3s ease-out;
}

.productContainer {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0 0;
    color: #333;
}

.productNameAndColor {
    margin: 0.5rem 0 0 0.5rem;
}

.containerImgAndName {
    display: flex;
    margin: 1rem 0 0 0;
}

.productPrice {
    margin: 2rem 0 0 2rem;
}

.bagSummaryText,
.shippingInfoText {
    font-size: 1.2rem;
    text-align: center;
}

.containerColorAndSize {
    margin: -1rem 0 0 0;
}

.ItemsCountText {
    width: 19rem;
    text-align: center;
}

.productName {
    max-width: 60%;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.productName:hover {
    color: #fb9aa7;
    transition: all 0.3s ease-out;
}

.containetTotalAmountBox {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 1rem;
    margin: 1rem 0 0 0;
}

.containerEditBtn {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.editBagBtn {
    background: none;
    border: 1px solid #333;
    padding: 0.3rem 3.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.editBagBtn:hover {
    background-color: #333;
    color: #fafafa;
    transition: all 0.3s ease-out;
}

.containerCouponDiscount {
    margin: 1rem 0 0 0;
    display: flex;
}

.discountBtn {
    background-color: #333;
    border: 1px solid #333;
    color: #fafafa;
    transition: all 0.3s ease-in;
}

.discountBtn:hover {
    background-color: #fafafa;
    color: #333;
    transition: all 0.3s ease-out;
}

.discountInput {
    width: 100%;
    margin: 0 0 0 0.2rem;
    border: 1px solid #333;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.discountInput:focus {
    background-color: #fafafa;
    outline-color: rgba(51, 51, 51, 0.363);
}

.mainPageNav {
    display: flex;
    justify-content: center;
    margin: 0 0 2.5rem 0;
}

.containerPageNav {
    display: flex;
    font-size: 1.3rem;
    list-style: none;
}

.containerPageNav li {
    margin: 0 0.5rem 0 0.5rem;
}

.nextIcon {
    margin: 0.3rem 0 0 0;
}

.LinkPage {
    color: #fb9aa7;
    opacity: 0.7;
    text-decoration: none;
}

.LinkPage:hover {
    color: #fb9aa7;
    opacity: 1;
}

.otherLink {
    opacity: 0.4;
}

.inputSize,
.inputColor,
.inputName {
    width: 2.2rem;
    border: none;
    text-align: center;
    background-color: #fafafa;
}

.inputName {
    width: 8.9rem;
    text-align: start;
}

.inputDeliveryFees,
.inputSubTotal,
.inputDiscount,
.inputTotalAmount {
    width: 2.5rem;
    text-align: end;
    border: none;
    text-align: center;
    background-color: #fafafa;
}

.inputDiscount {
    color: red;
}

.inputSize:focus,
.inputColor:focus,
.inputName:focus,
.inputDeliveryFees:focus,
.inputSubTotal:focus,
.inputDiscount:focus,
.inputTotalAmount:focus {
    border: none;
    outline: none;
}

.discountNotFoundText, .discountFoundText {
    color: red;
    font-size: 0.8rem;
    text-align: center;
    margin: 0.5rem 0 0 0;
}

.discountFoundText {
    color: #25d366;
}

.containerSpinner {
    margin: 1rem 0;
}

.spinnerIcon {
    font-size: 2rem;
    animation: rotating 2s linear infinite;
}

.rotating {
    font-size: 1.5rem;
    animation: rotating 2s linear infinite;
}

@media (max-width: 1010px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .containerShippingBox {
        width: 70%;
        margin: 1rem 0 0 0;
    }
}

@media (max-width: 600px) {
    .containerShippingBox {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .containerShippingBox {
        width: 100%;
    }

    .containerShippingBox {
        padding: 1.5rem 0;
    }
}

@media (max-width: 551px) {
    .containerPageNav {
        font-size: 0.9rem;
    }

    .containerPageNav li {
        margin: 0 0.2rem 0 0;
        text-align: center;
    }

    .nextIcon {
        margin: 0.3rem 0 0 0;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}