@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

.main {
    margin: 3rem 0 0 0;
    font-family: "Tajawal", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLoginForms {
    margin: 0 5rem 0 0;
    padding: 5rem 5rem 2rem 5rem;
}

.passwordInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconShowPassword {
    margin: 2.1rem 0 0 0.4rem;
    cursor: pointer;
}

.containerLoginForms {
    background-color: #fafafa;
}

.containerRegisterForm {
    background-color: #fafafa;
    padding: 5rem 5rem 3rem 5rem;
    margin: -8rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alertIcon {
    font-size: 1.1rem;
    margin: 0 0 0.2rem 0.3rem;
    cursor: pointer;
}

.checkBox {
    margin: 1rem 0 0 0;
}

.signUpBtn {
    margin: 1rem 0 0 0;
    padding: 0.4rem 0;
    background: none;
    color: #333;
    border: 1px solid #333;
    transition: all 0.4s ease-in;
    font-weight: 600;
}

.signUpBtn:hover {
    background-color: #333;
    color: #fafafa;
    transition: all 0.4s ease-out;
}

.loginBtn {
    margin: 2rem 0 0.8rem 0;
    padding: 0.4rem 2rem;
    background-color: #333;
    color: #fafafa;
    border: 1px solid #333;
    transition: all 0.4s ease-in;
    font-weight: 600;
}

.loginBtn:hover {
    background: none;
    color: #333;
    transition: all 0.4s ease-out;
}

.textInformation {
    max-width: 12rem;
    text-align: center;
}

.textMoreFeatures {
    margin: 1rem 0 0 0;
    max-width: 12rem;
    text-align: center;
}

.textMoreFeatures span {
    color: #fb9aa7;
    cursor: pointer;
    font-size: 1.2rem;
}

.textMoreFeatures span:hover {
    border-bottom: 1px solid #fb9aa7;
}

.dontHaveAccountText {
    text-align: center;
}

.forgottenPassword {
    color: #333;
}

.containerGoogleAndFacebookBtn {
    display: flex;
    justify-content: space-evenly;

}

.googleBtn, .facebookBtn {
    background-color: #333;
    border: 1px solid #333;
    padding: 0.4rem 0.7rem;
    border-radius: 50%;
    color: #fafafa;
    transition: all 0.3s ease-in;
}

.googleBtn:hover, .facebookBtn:hover {
    background-color: #fafafa;
    color: #333;
    transition: all 0.3s ease-out;
}

.orText {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.forgottenPassword:hover {
    color: #000;
}

@media (max-width: 803px) {
    .container {
        flex-direction: column;
    }

    .containerRegisterForm {
        margin: 2rem 0 0 0;
    }

    .containerLoginForms {
        margin: 0;
    }
}
