@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

.containerBtn {
  position: fixed;
  bottom: 60%;
  right: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  font-family: "Tajawal", sans-serif;
}

.ButtonWhatsApp {
  background-color: #25d366;
  transform: rotate(-90deg) translate(0px, 47px);
  padding: 0.1rem 0.3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.8;
}

.ButtonWhatsApp:hover {
  opacity: 1;
}

.ButtonWhatsApp a {
  color: #fafafa;
  text-decoration: none;
}

.ButtonWhatsApp a:hover {
  color: #fafafa;
}

.whatsAppIcon {
  font-size: 1.4rem;
}
