.main {
  margin: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkIcon {
  font-size: 4.5rem;
  color: #fb9aa7;
  margin: 0 0 1rem 0;
}

.containerSuccessfully {
  text-align: center;
}

.thnxText,
.orderNumText,
.orderNumber {
  font-size: 1.2rem;
  font-weight: 600;
}

.orderNumber {
  font-size: 1.4rem;
}

.deliveryNote {
  font-size: 1.1rem;
}

.detailsBagText,
.detailsShippingText {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fb9aa7;
  padding: 0 0 0.5rem 0;
}

.containerHomeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.containerPdfAndHistoryBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBtn,
.pdfBtn,
.historyBtn {
  padding: 0.5rem 1.5rem;
  background-color: #fb9aa7;
  border: 1px solid #fb9aa7;
  color: #fafafa;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.pdfBtn,
.historyBtn {
  margin: 0 0.5rem 0 0.5rem;
  background-color: #333;
  border: 1px solid #333;
}

.homeBtn:hover,
.pdfBtn:hover,
.historyBtn:hover {
  background: none;
  color: #fb9aa7;
  transition: all 0.3s ease-out;
}

.pdfBtn:hover,
.historyBtn:hover {
  color: #333;
}
